<%#

This file is part of the Savory Framework for Prudence

Copyright 2011 Three Crickets LLC.

The contents of this file are subject to the terms of the LGPL version 3.0:
http:www.opensource.org/licenses/lgpl-3.0.html

Alternatively, you can obtain a royalty free commercial license with less
limitations, transferable or non-transferable, directly from Three Crickets
at http://threecrickets.com/

%>
<div id="login-info">
<%

document.executeOnce('/savory/service/authentication/')
document.executeOnce('/savory/foundation/html/')

var session = Savory.Authentication.getCurrentSession(conversation)
var user = session ? session.getUser() : null

if (user) {
%>
	<%= Savory.HTML.span({_key: 'savory.service.authentication.form.info.greeting', _cast: {name: user.getDisplayName()}}) %>
	<%= Savory.HTML.a({_key: 'savory.service.authentication.form.info.logout', href: Savory.Authentication.getLogoutUri(), _query: {from: conversation.reference}}) %>
<%
}
else {
%>
	<%= Savory.HTML.a({_key: 'savory.service.authentication.form.info.login', href: Savory.Authentication.getUri(), _query: {from: conversation.reference}}) %>
<%
}
%>
</div>