<%#

This file is part of the Savory Framework

Copyright 2011-2012 Three Crickets LLC.

The contents of this file are subject to the terms of the LGPL version 3.0:
http://www.gnu.org/copyleft/lesser.html

Alternatively, you can obtain a royalty free commercial license with less
limitations, transferable or non-transferable, directly from Three Crickets
at http://threecrickets.com/

%><%

document.executeOnce('/savory/service/authentication/')
document.executeOnce('/savory/foundation/html/')
document.executeOnce('/savory/foundation/prudence/resources/')

var form = Savory.Resources.getCurrentForm(conversation)
var results = Savory.Resources.getCurrentFormResults(conversation)
var provider = Savory.Authentication.getProviderBySlug(conversation)
var siteName = provider.getName()

%>
<div class="centerpiece">
	<form id="login-form" method="POST">
		<%= Savory.HTML.build({_key: 'savory.service.authentication.form.openId.title', _tag: 'h2', _cast: {siteName: siteName}}) %>
		<div class="field">
			<%= form.htmlText('username', results) %>
		</div>
		<div class="buttons">
			<%= Savory.HTML.submit({_key: 'savory.service.authentication.form.openId.button.login'}) %>
		</div>
	</form>
</div>
