<%{{ head %>
<%
document.executeOnce('/savory/integration/frontend/sencha/')
Savory.Sencha.extJsHead(conversation)
%>
<%}}%>
<%& '/site/header/' %>
<% exampleHeader('Sencha', 'Integration', 'Grids'); %>

<p>
	Double click on any cell to edit it. Your changes will be saved when you leave the cell.
</p>
<div id="grid-mongo-db">
</div>

<%{{ foot %>
<script type="text/javascript">
Ext.onReady(function() {
	var pageSize = 15;
	
	Ext.define('User', {
		extend: 'Ext.data.Model',
		fields: [
			'_id',
			'name',
			'lastSeen'
		],
		idProperty: '_id',
		proxy: {
			type: 'savory',
			url: '<%= conversation.pathToBase %>/mongo/users/'
		}
	});
	
	var store = Ext.create('Ext.data.Store', {
		model: 'User',
		pageSize: pageSize,
		autoSync: true,
		autoLoad: true
	});
	
	Ext.create('Ext.grid.Panel', {
		store: store,
		columns: [{
			dataIndex: 'name',
			header: 'Name',
			editor: 'textfield'
		}, {
			dataIndex: 'lastSeen',
			xtype: 'datecolumn',
			format: 'm/d/y, H:i',
			header: 'Last Seen',
			editor: {
				xtype: 'datefield',
				format: 'm/d/y, H:i'
			}
		}],
		forceFit: true,
		selType: 'cellmodel',
		plugins: [
			Ext.create('Ext.grid.plugin.CellEditing', {clicksToEdit: 2})
		],
		dockedItems: [{
			dock: 'bottom',
			xtype: 'pagingtoolbar',
			store: store
		}],
		renderTo: 'grid-mongo-db',
		style: {
			margin: 'auto'
		},
		width: 500,
		height: 370
	});
});
</script>
<%}}%>

<% exampleFooter('Sencha', 'Integration', 'Grids'); %>
<%& '/site/footer/' %>