<%{{ head %>
<%
document.executeOnce('/savory/integration/frontend/sencha/')
Savory.Sencha.extJsHead(conversation, 'ext-all-gray')
%>
<%}}%>
<%& '/site/header/' %>
<% exampleHeader('Sencha', 'Integration', 'Trees'); %>

<p>
	We've connected this tree widget to a document in the "textpacks" MongoDB collection.
	Note that the XXX node in the tree is a MongoDB DBRef, so that opening it will trigger
	an extra fetch of another document, seamlessly integrating it into the tree.
	The relevant source code is in "routing.js" and "/libraries/resources.js".
</p>
<p>
	To appreciate what's going on in this demo, we recommend
	using <a href="http://getfirebug.com/">Firebug</a> to see all the communication with the server.	
</p>
<div id="tree"></div>

<%{{ foot %>
<script type="text/javascript">
Ext.onReady(function() {
	var store = Ext.create('Ext.data.TreeStore', {
		proxy: {
			type: 'savory',
			url: '<%= conversation.pathToBase %>/mongo/textpack/'
		},
		defaultRootId: '/',
		autoLoad: true
	});
	
	Ext.create('Ext.tree.Panel', {
		store: store,
		autoScroll: true,
		useArrows: true,
		rootVisible: false,
		renderTo: 'tree',
		style: {
			margin: 'auto'
		},
		width: 500,
		height: 400
	});
});
</script>
<%}}%>

<% exampleFooter('Sencha', 'Integration', 'Trees'); %>
<%& '/site/footer/' %>