<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<%#

This file is part of the Savory Framework for Prudence

Copyright 2011 Three Crickets LLC.

The contents of this file are subject to the terms of the LGPL version 3.0:
http:www.opensource.org/licenses/lgpl-3.0.html

Alternatively, you can obtain a royalty free commercial license with less
limitations, transferable or non-transferable, directly from Three Crickets
at http://threecrickets.com/

%><%
document.executeOnce('/savory/foundation/localization/')
document.executeOnce('/savory/foundation/prudence/blocks/')
document.executeOnce('/savory/foundation/json/')
%>
<html>
<head>
	<title>The Savory Framework: Scalable Prudence/MongoDB Web Development - Three Crickets</title>

	<meta name="description" content="A scalable Prudence/MongoDB web development framework for JavaScript." />
	<meta name="keywords" content="Savory, Prudence, MongoDB, Three Crickets, Scalable, Scalability, REST, RESTful, Restlet, JVM, Java Virtual Machine, Java, JavaScript, Rhino, No-SQL, NoSQL" />
	<link rel="shortcut icon" href="http://threecrickets.com/media/three-crickets/savory.ico" />

	<% if(null !== conversation.locals.get('extJs')) { document.executeOnce('/savory/integration/frontend/sencha/'); print(Savory.Sencha.extJsHead(conversation)); } %>
	<link rel="stylesheet" type="text/css" href="<%= conversation.pathToBase %>/style/three-crickets/soft-cricket.css" />

	<!-- Ubuntu font -->
	<link href="http://fonts.googleapis.com/css?family=Ubuntu|Ubuntu:italic|Ubuntu:bold|Ubuntu:bolditalic" rel="stylesheet" type="text/css" />
	<% if(null !== conversation.locals.get('reCaptcha')) { %>
	<!-- reCAPTCHA -->
	<script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script><% } %>
<%&& 'page.head' %>
</head>
<body>
	<table class="soft" width="100%">
		<tr valign="top">
			<td width="25%">

				<a href="<%= conversation.pathToBase %>/" class="neutral">
					<table class="soft"><tr>
						<td><h1>Savory<br /><span style="font-size: 12px;">The Scalable Prudence/MongoDB<br />Web Development Framework</span></h1></td>
						<td><img src="<%= conversation.pathToBase %>/media/savory/savory-small.png" border="0" style="margin-left: 10px;"></td>
					</tr></table>
				</a>

				<div class="navigation">
					<ul>
						<li><a href="<%= conversation.pathToBase %>">About</a></li>
						<li><a href="<%= conversation.pathToBase %>/legal/">Licence</a></li>
						<li><a href="<%= conversation.pathToBase %>/download/">Download</a></li>
						<li><a href="<%= conversation.pathToBase %>/progress/">Progress</a></li>
						<li><a href="http://code.google.com/p/savory-prudence/">Community and Support</a></li>
						<li><a href="<%= conversation.pathToBase %>/api/">API Documentation</a></li>
						<li><span class="heading">Drop-In Features</span>
							<ul>
								<li><a href="<%= conversation.pathToBase %>/about/feature/blog/">Blog</a></li>
								<li><a href="<%= conversation.pathToBase %>/about/feature/console/">Console</a></li>
								<li><a href="<%= conversation.pathToBase %>/about/feature/contact-us/">Contact Us</a></li>
								<li><a href="<%= conversation.pathToBase %>/about/feature/discussion/">Discussion</a></li>
								<li><a href="<%= conversation.pathToBase %>/about/feature/registration/">Registration</a></li>
								<li><a href="<%= conversation.pathToBase %>/about/feature/seo/">SEO</a></li>
								<li><a href="<%= conversation.pathToBase %>/about/feature/shopping-cart/">Shopping Cart</a></li>
								<li><a href="<%= conversation.pathToBase %>/about/feature/wiki/">Wiki</a></li>
							</ul>
						</li>
						<li><span class="heading">Application Services</span>
							<ul>
								<li><a href="<%= conversation.pathToBase %>/about/service/authentication/">Authentication</a></li>
								<li><a href="<%= conversation.pathToBase %>/about/service/cache/">Cache</a></li>
								<li><a href="<%= conversation.pathToBase %>/about/service/backup/">Backup</a></li>
								<li><a href="<%= conversation.pathToBase %>/about/service/cache/">Cache</a></li>
								<li><a href="<%= conversation.pathToBase %>/about/service/documents/">Documents</a></li>
								<li><a href="<%= conversation.pathToBase %>/about/service/events/">Events</a></li>
								<li><a href="<%= conversation.pathToBase %>/about/service/internationalization/">Internationalization</a></li>
								<li><a href="<%= conversation.pathToBase %>/about/service/linkback/">Linkback</a></li>
								<li><a href="<%= conversation.pathToBase %>/about/service/nonces/">Nonces</a></li>
								<li><a href="<%= conversation.pathToBase %>/about/service/notification/">Notification</a></li>
								<li><a href="<%= conversation.pathToBase %>/about/service/processing/">Processing</a></li>
								<li><a href="<%= conversation.pathToBase %>/about/service/rpc/">RPC</a></li>
								<li><a href="<%= conversation.pathToBase %>/about/service/rest/">REST</a></li>
								<li><a href="<%= conversation.pathToBase %>/about/service/search/">Search</a></li>
								<li><a href="<%= conversation.pathToBase %>/about/service/serials/">Serials</a></li>
								<li><a href="<%= conversation.pathToBase %>/about/service/syndication/">Syndication</a></li>
							</ul>
						</li>
						<li><span class="heading">Integrations</span>
							<ul>
								<li><a href="<%= conversation.pathToBase %>/about/integration/gravatar/">Gravatar</a></li>
								<li><a href="<%= conversation.pathToBase %>/about/integration/pay-pal/">PayPal</a></li>
							</ul>
						</li>
						<li><span class="heading">Sencha Integration</span>
							<ul>
								<li><a href="<%= conversation.pathToBase %>/about/integration/sencha/">General Information</a></li>
								<li><a href="<%= conversation.pathToBase %>/about/integration/sencha/grids/">Ext JS Grids</a></li>
								<li><a href="<%= conversation.pathToBase %>/about/integration/sencha/trees/">Ext JS Trees</a></li>
								<li><a href="<%= conversation.pathToBase %>/about/integration/sencha/charts/">Ext JS Charts</a></li>
								<li><a href="<%= conversation.pathToBase %>/about/integration/sencha/forms/">Ext JS Forms</a></li>
								<li><a href="<%= conversation.pathToBase %>/about/integration/sencha/direct/">Ext Direct</a></li>
								<li><a href="<%= conversation.pathToBase %>/about/integration/sencha/touch/">Sencha Touch</a></li>
							</ul>
						</li>
						<li><span class="heading">Foundation Libraries</span>
							<ul>
								<li><a href="<%= conversation.pathToBase %>/about/foundation/blocks/">Blocks</a></li>
								<li><a href="<%= conversation.pathToBase %>/about/foundation/html/">HTML Building</a></li>
								<li><a href="<%= conversation.pathToBase %>/about/foundation/html/markup/">HTML Markup</a></li>
								<li><a href="<%= conversation.pathToBase %>/about/foundation/html/parsing/">HTML Parsing</a></li>
								<li><a href="<%= conversation.pathToBase %>/about/foundation/iterators/">Iterators</a></li>
								<li><a href="<%= conversation.pathToBase %>/about/foundation/lazy/">Lazy</a></li>
								<li><a href="<%= conversation.pathToBase %>/about/foundation/logging/">Logging</a></li>
								<li><a href="<%= conversation.pathToBase %>/about/foundation/lucene/">Lucene</a></li>
								<li><a href="<%= conversation.pathToBase %>/about/foundation/resources/">Resources</a></li>
								<li><a href="<%= conversation.pathToBase %>/about/foundation/resources/forms/">Resources: Forms</a></li>
								<li><a href="<%= conversation.pathToBase %>/about/foundation/tasks/">Tasks</a></li>
								<li><a href="<%= conversation.pathToBase %>/about/foundation/templates/">Templates</a></li>
							</ul>
						</li>
						<li><span class="heading">Tools</span>
							<ul>
								<li><a href="<%= conversation.pathToBase %>/about/tool/js-doc/" class="closed">JsDoc Template</a></li>
							</ul>
						</li>
					</ul>
				</div>
<%
var textPack = conversation.locals.get('savory.service.internationalization.text')
var permissions = conversation.locals.get('savory.service.authorization.permissions')
%>
				<p>
					<%= textPack.get('application.cluck.welcome', {now: new Date().format('HH:mm:ss.SS')}) %>
				</p>
<%
if (permissions) {
%>
				<p>
					Your permissions: <%= Savory.JSON.to(permissions.getAll()) %> 
				</p>
<%
}
%>
				<%& '/savory/service/authentication/info/' %>

			</td>
			<td id="main-column" width="50%">
				<div id="main">
					<div id="main-content">
