<%& '/site/header/' %>
<% exampleHeader('Documents', 'Service'); %>

<%

document.executeOnce('/savory/service/documents/')

var draft = Savory.Documents.getLatestDraft('4fc4457ae4b030c6611c072f')

if (conversation.request.method.name == 'POST') {
	var source = conversation.form.get('source')
	var language = conversation.form.get('language')
	draft.revise(source, language)
}

%>

<p>
	In this example, we'll let you revise one document. 
</p>
<div class="note">
<p>
	Showing document: <b><%= draft.document._id %></b>, revision: <b><%= draft.revision %></b>
</p>
<%= draft.render() %>
</div>

<form method="post">
	<p>
		Language:
		<select name="language">
			<option value="markdown" <%= draft.getLanguage() == 'markdown' ? 'selected="true"' : '' %>>Markdown</option>
			<option value="textile" <%= draft.getLanguage() == 'textile' ? 'selected="true"' : '' %>>Textile</option>
			<option value="confluence" <%= draft.getLanguage() == 'confluence' ? 'selected="true"' : '' %>>Confluence</option>
			<option value="mediaWiki" <%= draft.getLanguage() == 'mediaWiki' ? 'selected="true"' : '' %>>MediaWiki</option>
			<option value="trac" <%= draft.getLanguage() == 'trac' ? 'selected="true"' : '' %>>Trac</option>
			<option value="twiki" <%= draft.getLanguage() == 'twiki' ? 'selected="true"' : '' %>>TWiki</option>
		</select><br />
		<textarea name="source" cols="80" rows="25"><%= draft.getSource() %></textarea><br />
		<input type="submit" value="Revise" />
	</p>
</form>

<% exampleFooter('Documents', 'Service'); %>
<%& '/site/footer/' %>