<%& '/site/header/' %>

<h1>Internationalization Service</h1>

<%
document.executeOnce('/savory/service/internationalization/')
var textPack = Savory.Internationalization.getCurrentPack(conversation)
%>

<p>
	This following string is rendered from the text pack for locale <b><%= '{language}/{country}/{variant}'.cast(textPack.locale) %></b>.
</p>
<p dir="<%= textPack.getDirection('application.savory-example.time') %>" class="note">
	<%= textPack.get('application.savory-example.time', {now: new Date()}) %>
</p>
<p>
	The direction for the above key is: <b><%= textPack.getDirection('application.savory-example.time') %></b>.
</p>

<h3>Learn</h3>
<ul>
	<li><a href="?source=true">See the source code for this example</a></li>
	<li><a href="<%= conversation.pathToBase %>/../api/?namespace=Savory.Internationalization">See the API documentation for Savory.Internationalization</a></li>
	<li><a href="<%= conversation.pathToBase %>/manual/">Read the relevant chapter in the Savory Manual</a></li>
</ul>

<%& '/site/footer/' %>