<%& '/site/header/' %>
<% exampleHeader('REST', 'Service'); %>

<%

document.executeOnce('/prudence/resources/')
document.executeOnce('/sincerity/json/')
document.executeOnce('/sincerity/xml/')

var params = {}

var httpUri = conversation.reference.baseRef + 'data/users/4e057e94e799a23b0f581d7d/'

if (conversation.request.method.name == 'POST') {
	params.internal = conversation.form.get('internal') == 'true'
	params.mediaType = params.internal ? 'application/java' : conversation.form.get('media')
}

if (params.internal) {
	params.uri = '/data/users/4e057e94e799a23b0f581d7d/'
}
else {
	params.uri = httpUri
	params.mediaType = params.mediaType || 'application/json'
}

var user = Prudence.Resources.request(params)
var output = params.mediaType == 'application/xml' ? user.toXML(2) : Sincerity.JSON.to(user, true)

%>

<p>
	We've set up a RESTful URI-space for the "users" collection in MongoDB, and will here let you
	access it, either internally without serialization, or via HTTP with serialization.
</p>
<p>
	Note that unlike JSON, XML does not translate naturally to standard JavaScript data structures,
	and so if you request XML, we'll here just print out the XML document. The Sincerity.XML API,
	however, lets you traverse XML DOM on its own terms.  
</p>
<p>
	Here is a link to access the HTML view of the user document: <a href="<%= httpUri %>"><%= httpUri %></a>.
</p>

<pre>
<%= output.escapeElements() %>
</pre>

<p>
	Last fetched URI: <b><%= params.uri %></b>, media type: <b><%= params.mediaType %></b>
</p>
<form method="post">
	<p>
		Internal:
		<input type="checkbox" name="internal" value="true" <%= params.internal ? 'checked="checked"' : '' %> />
	</p>
	<p>
		Media type: (ignored if internal)
		<select name="media">
			<option value="application/json" <%= params.mediaType == 'application/json' ? 'selected="true"' : '' %>>application/json</option>
			<option value="application/xml" <%= params.mediaType == 'application/xml' ? 'selected="true"' : '' %>>application/xml</option>
		</select>
	</p>
	<p>
		<input type="submit" value="Request" />
	</p>
</form>


<% exampleFooter('REST', 'Service'); %>
<%& '/site/footer/' %>