<div id="login-info">
<%

document.executeOnce('/savory/service/authentication/')
document.executeOnce('/savory/service/html/')

var session = Savory.Authentication.getCurrentSession(conversation)
var user = session ? session.getUser() : null

if (user) {
%>
	<div><%= Savory.HTML.span({_key: 'savory.service.authentication.form.info.greeting', _cast: {name: user.getDisplayName()}}) %></div>
	<div><%= Savory.HTML.a({_key: 'savory.service.authentication.form.info.logout', href: Savory.Authentication.getLogoutUri(), _query: {from: conversation.reference}}) %></div>
<%
}
else {
%>
	<div><%= Savory.HTML.a({_key: 'savory.service.authentication.form.info.login', href: Savory.Authentication.getUri(), _query: {from: conversation.reference}}) %></div>
<%
}
%>
</div>