<%& '/site/header/' %>
<% exampleHeader('RPC', 'Service'); %>

<%

document.executeOnce('/savory/service/rpc/')

var value1 = 2
var value2 = 6
var protocol = 'json'

if (conversation.request.method.name == 'POST') {
	value1 = parseFloat(conversation.form.get('value1'))
	value2 = parseFloat(conversation.form.get('value2'))
	protocol = conversation.form.get('protocol')
}

var result = Savory.RPC.request({
	uri: '/math/',
	internal: true,
	name: 'Math.multiply',
	params: [value1, value2],
	id: 'abc',
	protocol: protocol
})

%>

<p>
	We've exposed a simple multiplication function to the world. Let's call it using RPC.
</p>
<p>
	Use the magic values "1" and "2" to see a fault code.
</p>

<form method="post">
	<p>
		Value #1:
		<input name="value1" value=<%= value1 %> />
	</p>
	<p>
		Value #2:
		<input name="value2" value=<%= value2 %> />
	</p>
	<p>
		Protocol:
		<select name="protocol">
			<option value="json" <%= protocol == 'json' ? 'selected="true"' : '' %>>JSON-RPC</option>
			<option value="xml" <%= protocol == 'xml' ? 'selected="true"' : '' %>>XML-RPC</option>
		</select>
	</p>
	<p>
		<input type="submit" value="Multiply" />
	</p>
</form>
<% if (result.error) { %>
<p class="note">
	Fault: <b><%= result.error.code %>: <%= result.error.message %></b> via <b><%= result.protocol %></b>
</p>
<% } else { %>
<p class="note">
	Result: <b><%= result.result %></b> via <b><%= result.protocol %></b>
</p>
<% } %>

<% exampleFooter('RPC', 'Service'); %>
<%& '/site/footer/' %>