<%#

This file is part of the Savory Framework for Prudence

Copyright 2011 Three Crickets LLC.

The contents of this file are subject to the terms of the LGPL version 3.0:
http://www.gnu.org/copyleft/lesser.html

Alternatively, you can obtain a royalty free commercial license with less
limitations, transferable or non-transferable, directly from Three Crickets
at http://threecrickets.com/

%><%

document.executeOnce('/savory/foundation/html/')
document.executeOnce('/savory/foundation/xml/')
document.executeOnce('/savory/foundation/prudence/resources/')

var data = Savory.Resources.getEntity(conversation, 'object')
if (!data) {
	conversation.stop()
}

%>
<html>
<head>
	<%= Savory.HTML.build({_content: 'Savory REST Service - ' + data.resource.name, _tag: 'title'}) %>
</head>
<body>
<%= Savory.HTML.build({_content: 'Resource: ' + data.resource.name, _tag: 'h3'}) %>
<pre>
<%= Savory.JSON.to(data.value, true).escapeElements() %>
</pre>
</body>
</html>