<%

document.executeOnce('/savory/service/html/')
document.executeOnce('/prudence/resources/')

var form = Savory.Resources.getCurrentForm(conversation)
var results = Savory.Resources.getCurrentFormResults(conversation)

%>
<form id="contact-us-form" method="POST">
	<div class="centerpiece">
		<%= Savory.HTML.build({_key: 'savory.feature.contactUs.form.title', _tag: 'h2'}) %>
<% if (!form.hasUser) { %>
		<div class="field">
			<%= form.htmlText('email', results) %>
		</div>
<% } %>
		<div class="field">
			<%= form.htmlTextArea('message', results) %>
		</div>
<% if (!form.hasUser) { %>
		<div class="field">
			<%= Savory.HTML.label({_content: form.fields.recaptcha_response_field.label}) %>
			<div id="recaptcha-js"></div>
			<%= form.htmlError('recaptcha_response_field', results) %>
		</div>
<% } %>
 		<div class="buttons">
			<%= Savory.HTML.submit({_key: 'savory.feature.contactUs.form.button.send'}) %>
		</div>
	</div>
<% if (!form.hasUser) { %>
	<noscript>
		<%& '/savory/integration/backend/re-captcha/noscript/' %>
	</noscript>
<% } %>
</form>
